.instruction {
  margin: 30px auto auto auto;
  /* text-align: center; */
  width: 60%;
  height: 250px;
  align-content: center;
}

.title {
  font-size: 25px;
  font-weight: bold;
  color: blue;
}

.content {
  color: #f00;
  font-weight: bold;
}
