/* ========================================= RESPONSIVE CSS STYLE ========================================= */
/* ================== FOR MOBILE ================= */
@media only screen and (max-width: 600px) {
  .select-option {
    height: 25px;
    width: 95px;
    font-size: 12px;
  }
}

/* ================== FOR TABLET-LAPTOP-DESKTOP ================= */
@media only screen and (min-width: 601px) {
  .select-option {
    height: 30px;
    width: 110px;
    font-size: 15px;
  }
}

/* ================== FOR ALL DEVICE ================= */

.select-option {
  border-radius: 5px;
  border: 1px solid #cccccc;
  overflow: auto;
  text-align: left;
  padding-left: 15px;
  width: 300px;
  background-color: #efefef;
  height: 45px;
}

.select-option:hover {
  background-color: rgb(6, 155, 201);
  color: #fff;
}

/* Remove outline of select-option on focus */
.select-option:focus {
  outline: none;
  background-color: #fff;
  color: #000;
}

.default-style {
  color: #000;
}
