.room-item {
  margin-bottom: 36px;
}

.room-title {
  font-weight: bold;
  font-size: 18px;
}
.room-content {
  display: grid;
  grid-template-columns: 3fr 1fr;
}

.room-desc {
  font-size: 15px;
  padding: 0.5rem 0;
}

.room-container {
  text-align: center;
}

.room-container label {
  font-size: 18px;
  color: #767676;
}

.max-people {
  font-size: 13px;
}
.room-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  gap: 1rem;
}
.room-price {
  font-weight: bold;
  font-size: 18px;
}

.room-number:hover {
  color: #0071c2;
}

.room-number:hover {
  color: inherit;
  border: 1px solid #0071c2;
  font-weight: bold;
  padding: 2px;
}
