.listContainer {
  /* display: flex; */
  justify-content: center;
  /* margin-top: 20px; */
  margin: 1rem 15rem;
}

.listWrapper {
  width: 100%;
  max-width: 1024px;
  display: flex;
  gap: 20px;
}

.listSearch {
  flex: 1;
  background-color: #febb02;
  padding: 10px;
  border-radius: 10px;
  position: sticky;
  top: 10px;
  height: max-content;
}

.listResult {
  flex: 3;
}

.searchResult {
  /* width: 80%; */
  height: 100%;
  text-align: center;
  align-content: center;
  margin: 0 2rem;
  font-size: 30px;
  font-weight: bold;
  color: #298fee;
  border: solid 1px #55a4ee;
  border-radius: 10px;
}
